---
import { logos } from 'virtual:starlight/user-images';
import config from 'virtual:starlight/user-config';
---

<a href="/" class="site-title sl-flex">
	{
		config.logo && logos.dark && (
			<>
				<img
					class:list={{ 'light:sl-hidden print:hidden': !('src' in config.logo) }}
					alt={config.logo.alt}
					src={logos.dark.src}
					width={logos.dark.width}
					height={logos.dark.height}
				/>
				{!('src' in config.logo) && (
					<img
						class="dark:sl-hidden print:block"
						alt={config.logo.alt}
						src={logos.light?.src}
						width={logos.light?.width}
						height={logos.light?.height}
					/>
				)}
			</>
		)
	}
	<span class:list={{ 'sr-only': config.logo?.replacesTitle }} translate="no">
		Scanopy
	</span>
</a>

<style>
	.site-title {
		align-items: center;
		gap: 0.5rem;
		font-size: 1.25rem;
		font-weight: 700;
		color: white;
		text-decoration: none;
		white-space: nowrap;
		min-width: 0;
	}
	.site-title:hover {
		color: white;
	}
	span {
		overflow: hidden;
	}
	img {
		height: 2rem;
		width: 2rem;
		object-fit: contain;
	}
</style>
